/*============================================
        item css part start here
==============================================*/
#item_part{
    width: 100%;
    .item_body{
        .container{
            margin: 0 300px;
            .item_main{
                .item1{
                    text-align: center;
                    ul{
                        li{
                            display: inline-block;
                            // padding-right: 10px;
                            a{
                                text-decoration: none;
                                border: 1px solid #000000;
                                border-radius: 30px;
                                color: #0B0223;
                                padding: 10px 15px;
                                font-size: 18px;
                                font-weight: 500;
                                font-family: 'Work Sans', sans-serif;
                                text-transform: capitalize;
                                img{
                                    padding-right: 20px;
                                }
                                &:hover{
                                    color: #FF42A5;
                                    border-color: #FF42A5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*============================================
        item css part ends here
==============================================*/