/*============================================
        navbar css part start here
==============================================*/
#navbar_part{
    width: 100%;
    background: #fff;
    .nav_body{
        .container{
            margin: 0 300px;
            .nav_main{
                height: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .nav_icon{
                    // display: flex;
                    // cursor: pointer;
                    ul{
                        padding-left: 0;
                        li{
                            display: inline-block;
                            img{
                                width: 60px;
                                padding-bottom: 20px;
                            }
                            a{
                                color: #0B0223;
                                font-size: 45px;
                                font-weight: 700;
                                font-family: 'Work Sans', sans-serif;
                                text-transform: capitalize;
                                text-decoration: none;
                                span{
                                    color: #FF42A5;
                                }
                            }
                        }
                    }
                }
                .nav_item{
                    ul{
                        cursor: pointer;
                        li{
                            display: inline-block;
                            padding-left: 15px;
                            a{
                                text-decoration: none;
                                color: #3C354F;
                                font-size: 18px;
                                font-weight: 500;
                                font-family: 'Work Sans', sans-serif;
                                text-transform: capitalize;
                                i{
                                    color: red;
                                    padding-left: 15px;
                                }
                            }
                            .follow_btn{
                                border: 1px solid #0B0223;
                                border-radius: 20px;
                                padding: 0 10px;
                                &:hover{
                                    background: #0b02232a;
                                    border-color: #0b02232a;
                                    transition: .5s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*============================================
        navbar css part ends here
==============================================*/