/*============================================
        play game css part start here
==============================================*/
#play_game{
    width: 100%;
    .game_body{
        .container{
            margin: 180px 300px;
            .game_main{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .game_text{
                    width: 30%;
                    text-align: left;
                    h3{
                        color: #0B0223;
                        font-size: 48px;
                        font-weight: 600;
                        font-family: 'Work Sans', sans-serif;
                        line-height: 2.5rem;
                    }
                    .main_head{
                        color: #F948B2;
                    }
                    p{
                        font-size: 18px;
                        font-weight: 400;
                        font-family: 'Work Sans', sans-serif;
                        line-height: 1.5rem;
                        padding-top: 15px;
                    }
                }
                .game_image{
                    .game_image_body{
                        position: relative;
                        .image2{
                            position: absolute;
                            top: 100px;
                            right: 135px;
                            transform: translate(50%, 50%);
                        }
                        .image1{
                            width: 80%;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*============================================
        play game css part ends here
==============================================*/